<!DOCTYPE html>
<html lang="en">

<head>
    <title>LilyTask</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fonts.css') }}" />
</head>

<body>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

    <nav>
        <div class="container-fluid">
            <ul>
                <li><a href="{{ url_for("landing.index") }}"><img src="/static/img/ser322_tasklily_lily_128.png"></a></li>
                <li><a href="{{ url_for("landing.index") }}">Home</a></li>
                <li><a href="{{ url_for("core.projects") }}">Project</a></li>

                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for("auth.logout") }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for("auth.login") }}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="landing-page">
        <div class="form">
            <div id="logo">
                <img src="/static/img/ser322_tasklily_tagline.png">
            </div>

            <div id="info">
                <p>Arizona State University: SER322 Spring 2016 project by Amilcar Gamez-Lizarraga, Cephas Armstrong-Mensah, David Henderson, and Nelson Tran</p>
            </div>

            <div id="summary">
                <h3>What is LilyTask?</h3>
                <p>LilyTask is a minimal project management tool. Projects can be shared with many users and projects have tasks that allow you to keep a timelog for your progress.</p>
            </div>

            <br>

            <div id="development">
                <h3>How do I follow LilyTask development?</h3>
                <a href="https://github.com/nelsontran/lilytask">You can find LilyTask's GitHub repository here. (That is, if it's even touched after the ASU Spring 2016 semester)</a>
                <br>
            </div>

            <br>

            <video class="video" width="66%" muted autoplay loop>
                <source src="/static/vid/dev0.mp4" type="video/mp4">
            </video>
            <video class="video" width="21%" height="100%" muted autoplay loop>
                <source src="/static/vid/dev1.mp4" type="video/mp4">
            </video>
        </div>
    </div>

    <script type="text/javascript">
      $('.video').click(function(){this.paused?this.play():this.pause();});
    </script>
</body>

</html>
