<!DOCTYPE html>
<html lang="en">

<head>
    <title>Chopin Liszt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fonts.css') }}" />
</head>

<body>
    {% if current_user.is_authenticated %}
      Hi {{ current_user.username }}! Click <a href="{{ url_for("auth.logout") }}">here</a> to logout.
    {% else %}
      Click <a href="{{ url_for("auth.login") }}">here</a> to login.
    {% endif %}

    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

</body>

</html>
