@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: normal;
  src: url('/static/fonts/Roboto-300/Roboto-300.eot');
  src: url('/static/fonts/Roboto-300/Roboto-300.eot?#iefix') format('embedded-opentype'),
       local('Roboto Light'),
       local('Roboto-300'),
       url('/static/fonts/Roboto-300/Roboto-300.woff2') format('woff2'),
       url('/static/fonts/Roboto-300/Roboto-300.woff') format('woff'),
       url('/static/fonts/Roboto-300/Roboto-300.ttf') format('truetype'),
       url('/static/fonts/Roboto-300/Roboto-300.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Oxygen';
  font-weight: 300;
  font-style: normal;
  src: url('/static/fonts/Oxygen/oxygen-v5-latin-ext_latin-regular.eot');
  src: url('/static/fonts/Oxygen/oxygen-v5-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'),
       local('Oxygen Light'),
       local('Oxygen-300'),
       url('/static/fonts/Oxygen/oxygen-v5-latin-ext_latin-regular.woff2') format('woff2'),
       url('/static/fonts/Oxygen/oxygen-v5-latin-ext_latin-regular.woff') format('woff'),
       url('/static/fonts/Oxygen/oxygen-v5-latin-ext_latin-regular.ttf') format('truetype'),
       url('/static/fonts/Oxygen/oxygen-v5-latin-ext_latin-regular.svg#Oxygen') format('svg');
}
