<div id="jumbotron" class="container-fluid">
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
    <div class="container">
        <span>TIME TRACKING FOR YOUR PROJECTS</span></br>
        <div class="container" ng-app="lilytask" ng-controller="ShowRegisterController">
            <button id="sign-up-btn" class="flat-btn" type="button" ng-click="show()">IT'S FREE. START TRACKING!</button>
            <script type="text/ng-template" id="register.html">
                <div class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" ng-click="close()" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title">Sign Up</h4>
                            </div>
                            <form>
                                <div class="modal-body">
                                    <input id="first-name-field" class="flat-input-field" type="text" ng-model="user.first_name" placeholder="First Name" required>
                                    <input id="last-name-field" class="flat-input-field" type="text" ng-model="user.last_name" placeholder="Last Name" required>

                                    <input id="email-field" class="flat-input-field" type="email" ng-model="user.email" placeholder="Email Address"
                                    pattern="\b[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}\b"
                                    onchange="try{setCustomValidity('')}catch(e){}" required>

                                    <input id="password-field" class="flat-input-field" type="password" ng-model="user.password" placeholder="Password"
                                    pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d!$%@#£€*?&:;,.{}/\\\[\]<>\-=_+()\^`~]{8,}$"
                                    oninvalid="setCustomValidity('Your password must contain at least 8 characters with at least 1 letter and 1 number.')"
                                    onchange="try{setCustomValidity('')}catch(e){}" required>
                                </div>
                                <div class="modal-footer">
                                    <button class="flat-btn" type="submit" ng-click="register(user)">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </script>
        </div>
    </div>
</div>
