<!DOCTYPE html>
<html lang="en">

<head>
    <title>LilyTask</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fonts.css') }}" />
</head>

<body>
	<nav>
        <div class="container-fluid">
            <ul>
                <li><a href="{{ url_for('landing.index') }}"><img src="/static/img/ser322_tasklily_lily_128.png"></a></li>
                <li><a href="{{ url_for("landing.index") }}">Home</a></li>
                <li><a href="{{ url_for("core.projects") }}">Project</a></li>

                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for("auth.logout") }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for("auth.login") }}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

	<div class="tasks-page">
		<div class="form">
			<form id="create-task" action="{{ url_for('core.create_task', project_id=project_id) }}">
				<button type="submit" style="margin-bottom: 32px;">Create New Task</button>
				<h1>Active Tasks</h1>
				<table id="active-tasks" class="flat-table">
					<tr>
						<th>Description</th>
						<th>Time Spent</th>
						<th>Complete</th>
						<th>Remove</th>
					</tr>
					{% for row in range(active_tasks['id']|count) %}
						<tr>
							<td><a id="{{ active_tasks['id'][row] }}" href="{{ url_for('core.time_entries', project_id=project_id, task_id=active_tasks['id'][row], ) }}">{{ active_tasks['description'][row] }}</a></td>
							<td>{{ active_tasks['time_spent'][row] }}h</td>
							<td><button id="complete-task" type="button">✔</button></td>
							<td><button id="remove-task" type="button">✘</button></td>
						</tr>
					{% endfor %}
				</table>

				<h1>Completed Tasks</h1>
				<table id="completed-tasks" class="flat-table">
					<tr>
						<th>Description</th>
						<th>Time Spent</th>
						<th>Make Active</th>
						<th>Remove</th>
					</tr>
					{% for row in range(completed_tasks['id']|count) %}
						<tr>
							<td><a id="{{ completed_tasks['id'][row] }}" href="{{ url_for('core.tasks', project_id=completed_tasks['id'][row]) }}">{{ completed_tasks['description'][row] }}</a></td>
							<td>{{ completed_tasks['time_spent'][row] }}h</td>
							<td><button id="uncomplete-task" type="button">☐</button></td>
							<td><button id="remove-task" type="button">✘</button></td>
						</tr>
						</tr>
					{% endfor %}
				</table>
			</form>
		</div>
	</div>

	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>

	<script type="text/javascript">
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        $(function() {
			$(document).on('click', '#start-timer', function() {
				$('form').animate({height: "toggle", opacity: "toggle"}, "slow");
				return false;
			});

			$(document).on('click', '#timer-cancel', function() {
				$('form').animate({height: "toggle", opacity: "toggle"}, "slow");
				return false;
			});

			$(document).on('click', '#timer-submit', function() {
				$.getJSON($SCRIPT_ROOT + '/record_time_entry', {
					project_id: {{ project_id }},
					date: $('#date').val(),
					start_time: $('#start-time').val(),
					end_time: $('#end-time').val()
				}, function(data) {
					$('form').animate({height: "toggle", opacity: "toggle"}, "slow");
				});
				return false;
			});

            $('#active-tasks, #completed-tasks').on('click', '#remove-task', function() {
                that = this;
                $.getJSON($SCRIPT_ROOT + '/remove_task', {
                    id: $(this).parent().parent().find('a').attr('id')
                }, function(data) {
					if (data.result == true) {
                    	$(that).closest('tr').remove();
					}
					else {
						alert('Failed to remove task.')
					}
                });
                return false;
            });

			$(document).on('click', '#complete-task', function() {
                that = this;
                $.getJSON($SCRIPT_ROOT + '/complete_task', {
                    id: $(this).parent().parent().find('a').attr('id')
                }, function(data) {
					if (data.result == true) {
                    	var tr = $(that).closest('tr').remove().clone();
						tr.find('td:nth-child(3) button').text('☐').attr('id', 'uncomplete-task');
						$('#completed-tasks tbody').append(tr);
					}
					else {
						alert('Failed to complete task.')
					}
                });
                return false;
            });

			$(document).on('click', '#uncomplete-task', function() {
                that = this;
                $.getJSON($SCRIPT_ROOT + '/uncomplete_task', {
                    id: $(this).parent().parent().find('a').attr('id')
                }, function(data) {
					if (data.result == true) {
                    	var tr = $(that).closest('tr').remove().clone();
						tr.find('td:nth-child(3) button').text('✔').attr('id', 'complete-task');
						$('#active-tasks tbody').append(tr);
					}
					else {
						alert('Failed to complete task.')
					}
                });
                return false;
            });
        });

    </script>
</body>
</html>
