<!DOCTYPE html>
<html lang="en">

<head>
    <title>LilyTask</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fonts.css') }}" />
</head>

<body>
    <nav>
        <div class="container-fluid">
            <ul>
                <li><a href="{{ url_for('landing.index') }}"><img src="/static/img/ser322_tasklily_lily_128.png"></a></li>
                <li><a href="{{ url_for("landing.index") }}">Home</a></li>
                <li><a href="{{ url_for("core.projects") }}">Project</a></li>

                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for("auth.logout") }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for("auth.login") }}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="timeentry-page">
        <div class="form">
            <form>
                <button id="start-timer" type="button">Record Time Entry</button>

                <h1>Current Time Entries</h1>
                <table id="time-entries" class="flat-table">
                    <tr>
                        <th>User</th>
                        <th>Start time</th>
                        <th>End time</th>
                        <th>Remove</th>
                    </tr>
                    {% for row in range(entries['id']|count) %}
                        <tr>
                            <td><a id="{{ entries['id'][row] }}">{{ entries['name'][row] }}</a></td>
                            <td>{{ entries['start_time'][row] }}</td>
                            <td>{{ entries['end_time'][row] }}</td>
                            <td><button id="remove-entry" type="button">✘</button></td>
                        </tr>
                    {% endfor %}
                </table>
            </form>

            <form id="timer">
				<h1>Date</h1>
				<input type="date" name="date" id="date">

				<h1>Start Time</h1>
				<input type="time" name="start-time" id="start-time">

				<h1>End Time</h1>
				<input type="time" name="end-time" id="end-time">

				<div style="float: left; width: 45%">
				<button id="timer-submit" type="button" style="margin-bottom: 32px;">Submit</button>
				</div>
				<div style="float: right; width: 45%">
				<button id="timer-cancel" type="button" style="margin-bottom: 32px;">Cancel</button>
				</div>

				<br />
				<br />
				<br />

			</form>
        </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript">
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

        $(function() {
			$(document).on('click', '#start-timer', function() {
                console.log("asdfasdfasd");
				$('form').animate({height: "toggle", opacity: "toggle"}, "slow");
				return false;
			});

			$(document).on('click', '#timer-cancel', function() {
				$('form').animate({height: "toggle", opacity: "toggle"}, "slow");
				return false;
			});

			$(document).on('click', '#timer-submit', function() {
				$.getJSON($SCRIPT_ROOT + '/record_time_entry', {
					project_id: {{ project_id }},
                    task_id: {{ task_id }},
					date: $('#date').val(),
					start_time: $('#start-time').val(),
					end_time: $('#end-time').val()
				}, function(data) {
					$('form').animate({height: "toggle", opacity: "toggle"}, "slow");
				});
				return false;
			});

            $('#time-entries').on('click', '#remove-entry', function() {
                that = this;
                $.getJSON($SCRIPT_ROOT + '/remove_entry', {
                    id: $(this).parent().parent().find('a').attr('id')
                }, function(data) {
					if (data.result == true) {
                    	$(that).closest('tr').remove();
					}
					else {
						alert('Failed to remove entry.')
					}
                });
                return false;
            });
        });
    </script>
</body>
</html>
